.chart-page {
  background: #141F30;
}

.chart-page .pane-legend-icon-container svg {
  fill: #61688A;
}

.chart-page .tv-side-toolbar .tools-group .button {
  background-color: #181b2a;
  border-color: #181b2a;
}

.chart-page .tv-side-toolbar .tools-group .button .main.text-as-icon {
  color: #4e5b85;
}

.chart-page .tv-side-toolbar .tools-group .button svg {
  fill: #4e5b85;
}

.chart-page .tv-side-toolbar .tools-group .button.selected,
.chart-page .tv-side-toolbar .tools-group .button:hover,
.chart-page .tv-side-toolbar .tools-group .button:active {
  background-color: #2c3b59;
  border-color: #2c3b59;
}

.chart-page .tv-side-toolbar .tools-group .button.selected svg,
.chart-page .tv-side-toolbar .tools-group .button:hover svg,
.chart-page .tv-side-toolbar .tools-group .button:active svg {
  fill: #c7cce6;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .main.text-as-icon,
.chart-page .tv-side-toolbar .tools-group .button:hover .main.text-as-icon,
.chart-page .tv-side-toolbar .tools-group .button:active .main.text-as-icon {
  color: #c7cce6;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side,
.chart-page .tv-side-toolbar .tools-group .button:hover .side,
.chart-page .tv-side-toolbar .tools-group .button:active .side {
  border-left: 1px solid transparent;
}

.chart-page .tv-side-toolbar .tools-group .button:active svg {
  fill: #4e5b85;
}

.chart-page .charts-popup-list {
  background-color: #181b2a;
  color: #4e5b85;
  border-color: #2c3b59;
}

.chart-page .charts-popup-list .separator {
  border-top: 1px solid #c1c8ec;
}

.chart-page .charts-popup-list .item {
  background-color: #181b2a;
  color: #4e5b85;
}

.chart-page .charts-popup-list .item.active {
  background-color: #2c3b59;
  color: #c7cce6;
}

.chart-page .charts-popup-list .icon-wrap svg {
  fill: #4e5b85;
}

.chart-page .list-inner .item {
  background-color: #181b2a;
}

.chart-page .list-inner .item.active {
  background-color: #2c3b59;
}

.chart-page .list-inner .item.active svg {
  fill: #c7cce6;
}

.chart-page .list-inner .item.active span.title {
  color: #c7cce6;
}

.chart-page .list-inner .item span.title {
  color: #4e5b85;
}

.chart-page .favored-list-container span:hover {
  background-color: #2C3B59;
}

.chart-page .tv-floating-toolbar {
  background-color: #2c3b59;
  border-color: #c7cce6;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag,
.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input {
  background-color: #181b2a;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag svg,
.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input svg {
  fill: #4e5b85;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget {
  border-color: #181b2a;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget svg {
  fill: #4e5b85;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget .bg {
  fill: #181b2a;
}

.chart-page .apply-common-tooltip {
  display: none;
  background-color: #181B2A;
  border: 1px solid transparent;
  color: #61688A;
}

.chart-page .apply-common-tooltip:before {
  border: 1px solid transparent;
}

.chart-page .apply-common-tooltip svg {
  fill: #4e5b85;
}

.chart-page .layout__area--left [class^="drawingToolbar-"] {
  background: #181B2A !important;
}

.chart-page .layout__area--left [class^="separator-"] {
  opacity: .2;
}

.chart-page [class^="menu-"] {
  background: #181B2A !important;
}

.chart-page [class^="item-"] {
  background: transparent !important;
}

.chart-page [class^="labelRow-"],
.chart-page [class^="icon-"] {
  color: #61688A;
}

.chart-page [class^="labelRow-"] svg,
.chart-page [class^="icon-"] svg {
  fill: #61688A;
}

.chart-page [class*="isActive-"]:hover [class^="bg-"] {
  background: #181B2A !important;
}

.chart-page [class*="isActive-"] [class^="bg-"] {
  background: transparent;
}

.chart-page .chart-controls-bar {
  background-color: #181B2A;
}

.chart-page .tv-side-toolbar .tools-group .button:hover,
.chart-page .header-chart-panel .tools-group .button:hover {
  background-color: #2C3B59;
}

.chart-page .tv-side-toolbar .button:hover,
.chart-page .header-chart-panel .button:hover {
  background: #2C3B59;
}

.chart-page .tv-side-toolbar .group,
.chart-page .header-chart-panel .group {
  float: left;
}

.chart-page .tv-side-toolbar .group .button,
.chart-page .header-chart-panel .group .button {
  font-weight: normal;
  color: #4e5b85;
}

.chart-page .tv-side-toolbar .group .button svg,
.chart-page .header-chart-panel .group .button svg {
  fill: #4e5b85;
}

.chart-page .tv-side-toolbar .group .button:hover,
.chart-page .tv-side-toolbar .group .button.selected,
.chart-page .header-chart-panel .group .button:hover,
.chart-page .header-chart-panel .group .button.selected {
  background: #2c3b59;
  color: #c7cce6;
}

.chart-page .tv-side-toolbar .group .button:hover svg,
.chart-page .tv-side-toolbar .group .button.selected svg,
.chart-page .header-chart-panel .group .button:hover svg,
.chart-page .header-chart-panel .group .button.selected svg {
  fill: #c7cce6;
}

.chart-page .tv-side-toolbar .group .button:active,
.chart-page .header-chart-panel .group .button:active {
  color: #4e5b85;
}

.chart-page .tv-side-toolbar .group .button:active svg,
.chart-page .header-chart-panel .group .button:active svg {
  fill: #4e5b85;
}

.chart-page .tv-side-toolbar .header-group-fullscreen,
.chart-page .header-chart-panel .header-group-fullscreen {
  float: right;
  padding-right: 5px;
}

.chart-page .tv-side-toolbar .header-group-properties,
.chart-page .tv-side-toolbar .header-group-indicators,
.chart-page .header-chart-panel .header-group-properties,
.chart-page .header-chart-panel .header-group-indicators {
  float: none;
}

.chart-page .tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter):before {
  background: #4e5b85;
}

.chart-page .button svg {
  fill: #4e5b85;
}

.chart-page .tv-side-toolbar {
  border-right: 1px solid #181B2A;
  background-color: #181B2A;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side {
  border-left: 1ps solid transparent;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side,
.chart-page .tv-side-toolbar .tools-group .button.selected .main {
  background: #2C3B59;
}

.chart-page .chart-container {
  background-color: #181B2A;
  border: 1px solid transparent;
}

.chart-page .tv-close-panel {
  background-color: #2b304a;
  border: none;
}

.chart-page .button {
  background-color: #181B2A;
  border-color: #181B2A;
}

.chart-page .button:hover {
  background-color: #4e5b85;
}

.chart-page .button.selected,
.chart-page .button.active {
  background-color: #4e5b85 !important;
}

.chart-page .button.selected svg,
.chart-page .button.active svg {
  fill: #181B2A;
}
